@model NavigationModel
<script>
    function onSelect(e) {
        if (e.indices[0] === 0 && "@Html.Raw(Model.currentView)" !== "Home") {
            return window.location.href = '@Url.Action("Index", "Home")';
        }   
        else if (e.indices[0] === 1 && "@Html.Raw(Model.currentView)" !=="HeatMap") {
            return window.location.href = '@Url.Action("HeatMap", "Home")';
        }  
        else if (e.indices[0] === 2 && "@Html.Raw(Model.currentView)" !=="DataVirtualization") {
            return window.location.href = '@Url.Action("DataVirtualization", "Home")';
        }  
    }
</script>

<div class="bottom-pane k-content">
    @(Html.Kendo().ButtonGroup()
       .Name("select-period")
       .Items(t =>
       {
           t.Add().Text("Result List").HtmlAttributes(new {@class="k-button-flat"});
           t.Add().Text("Heatmap View").HtmlAttributes(new {@class="k-button-flat"});
           t.Add().Text("Data Virtualization").HtmlAttributes(new {@class="k-button-flat"});
       })
       .Events(e => e.Select("onSelect"))
    )
</div>